* {
    margin: 0;
    padding: 0;
    border: 0;
}

.fundo {
    background-image: linear-gradient(to bottom right, darkslateblue, aquamarine);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cartao {
    width: 40vw;
    height: 30vh;
    border: 1px solid gray;
    background-color: #FFDEAD;
    box-shadow: 5px 5px 9px #222;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.icones {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-size: 4.5vmin;
    margin-bottom: 3vmin;
}

h2 {
    font-size: 2.5vmin;
    margin-bottom: 3vmin;
}

i {
    margin-left: 1vw;
    margin-right: 1vw;
    transition: transform .2s;
}

i:hover {
    transform: scale(1.2);
}

.fa {
    font-size: 5vmin;
}

a {
    color: inherit;
}
