* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.fundo {
    background-image: linear-gradient(to bottom right, darkslateblue, aquamarine);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.topo {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #222;
}

.identificacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 1.5vh;
}

.icones {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-size: 4.5vmin;
    margin-left: 2vw;
    margin-right: 2vw;
}

h2 {
    font-size: 2.5vmin;
    margin-left: 2vw;
    margin-right: 2vw;
}

a {
    color: inherit;
    margin-left: 1vw;
    margin-right: 1vw;
}

.icone_lattes, .fa {
    height: 5vmin;
    transition: transform .2s;
    font-size: 5vmin;
    color: whitesmoke;
}

.icone_lattes:hover, i:hover {
    transform: scale(1.2);
}

.abas {
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vmin;
    transition: transform .2s;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    display: flex;
}

.abas a {
    margin-top: 1.5vh;
}

.abas:hover {
    background-color: #222;
    color: whitesmoke;
}

.imagens img {
    width: 33%;
    padding-top: 0.6vh;
    box-sizing: border-box;
}

.imagens {
    background-color: whitesmoke;
}

@media only screen and (max-width: 270px) {
    .topo {
        flex-direction: column;
        justify-content: center;
    }
  }